PORT=3000
USER_SERVICE_URL=http://user-service:8001
TRANSACTION_SERVICE_URL=http://transaction-service:8002
BUDGET_SERVICE_URL=http://budget-service:8003
NOTIFICATION_SERVICE_URL=http://notification-service:8004
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:80
